body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  color: #2F3144;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: url("../img/svg/Icon.svg");
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 31px;
    left: 262px;
    background-color: #2F3144;
    border-radius: 48px;
    width: 24px;
    height: 24px;
    margin-right: -5px;
    z-index: 22;
  }
  &__container {
    width: 100%;
    height: 100%;
    background: #F4F4F8;
    display: flex;
    gap: 8px;
  }
}
