.table_container {
  border: 1px solid #E8EAEC;
  border-radius: 12px;
  overflow: hidden;
  table {
    width: 100%;
    border-collapse: collapse;
    td:first-child {
      width: 100px;
    }
  }
}



thead {
  tr {
    th {
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      span {
        display: flex;
        font-size: 17px;
        font-weight: 800;
        color: #2F3144;
      }
    }
  }
}


.custom_table_item {
  height: 3.2vw;
  background-color: #fff;
  border-collapse: collapse;

  &__value {
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 500;

    &__date {
      @extend .custom_table_item__value;
      max-width: 205px;
    }

    &__name {
      @extend .custom_table_item__value;
    }

    &__room {
      @extend .custom_table_item__value;

    }
  }

  &__gray {
    @extend .custom_table_item;
    background-color: #F4F4F4;
  }

  &__footer {
    @extend .custom_table_item;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    background: transparent;
  }
}





.custom_table_status {
  font-size: 13px;
  font-weight: 500;
  color: #2F3144;
  padding: 4px 12px;
  border-radius: 43px;

  gap: 4px;

  &__plan {
    @extend .custom_table_status;
    background-color: #AFBFF5;
  }

  &__complete {
    @extend .custom_table_status;
    background-color: #91C893;
  }

  &__going {
    @extend .custom_table_status;
    background-color: #FFDAA1;
  }
}


//pagination
.pagination_container {
  display: flex;
  gap: 8px;
}

.pagination_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #2F3144;
  border:1px solid transparent;
  cursor: pointer;
  &:hover {
    border:1px solid #3761F3;
    color:#3761F3;
  }
  &:nth-child(3) {
    background-color: #E0E0E0;
  }
}

