table {
  display: block;
  border-collapse: collapse;
  border: 1px solid #E8EAEC;
  border-radius: 12px;
}

thead {
  tr {
    th {
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      span {
        display: flex;
        font-size: 17px;
        font-weight: 800;
        color: #2F3144;
      }
    }
  }
}


.custom_table_item {
  height: 64px;
  background-color: #fff;

  &__value {
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 500;

    &__date {
      @extend .custom_table_item__value;
      width: 200px;
    }

    &__name {
      @extend .custom_table_item__value;
      min-width: 40%;
    }

    &__room {
      @extend .custom_table_item__value;
      min-width: 15%;
    }
  }

  &__gray {
    @extend .custom_table_item;
    background-color: #F4F4F4;
  }
}

.custom_table_status {
  font-size: 13px;
  font-weight: 500;
  color: #2F3144;
  padding: 4px 12px;
  border-radius: 43px;

  gap: 4px;

  &__plan {
    @extend .custom_table_status;
    background-color: #AFBFF5;
  }

  &__complete {
    @extend .custom_table_status;
    background-color: #91C893;
  }

  &__going {
    @extend .custom_table_status;
    background-color: #FFDAA1;
  }
}